section.home-1
    .wide 
        .wrapper-container 
            ul.list-items.d-flex.align-items-center.flex-wrap
                -for(i=1; i<11; i++)
                    li.item 
                        a.item-inner.d-flex.align-items-center(href="") 
                            img.icon(src="./images/icons/i-"+i+".svg", alt="")
                            img.pin(src="./images/icons/pin.png", alt="")
                            .text 
                                p HDBank Mobile App