section.home-1
    .wide 
        .wrapper-container 
            ul.list-items.d-flex.align-items-center.flex-wrap
                li.item 
                    .item-inner.d-flex.align-items-center 
                        .icon 
                            img(src="./images/icons/hdbankhome.svg", alt="")