.btn
    display: inline-block
    border: 0
    background: transparent
    &-submit
        position: relative
        background: #FFC20E
        width: max-content
        padding: 12px 0
        border-radius: 4px
        span
            position: relative
            font-weight: 700
            font-size: 20px
            color: #000000
            transition: 0.2s 0.1s
            z-index: 100
        em
            position: relative
            color: #000000
            transition: 0.2s 0.1s
            z-index: 100
        &::before
            position: absolute
            top: 0
            bottom: 0
            left: 0
            height: 100%
            width: 0
            border-radius: 4px
            background: linear-gradient(0deg, #BE1128 0%, #EB2629 152.65%)
            transition: 0.3s ease-out
            content: ''
        @media screen and ( min-width: 1025px )
            &:hover
                span,
                em
                    color: #fff
                &::before
                    width: 100%
    &-search
        padding: 4px 8px 4px 6px
        width: 121px
        height: 32px
        background: $yellow-brand
        border-radius: 4px
        @media screen and ( min-width: 1025px )
            &:hover
                background: linear-gradient(0deg, #FFC20E 0%, #F7A30A 152.65%)
    &-toggle
        margin-right: 16px
        cursor: pointer
        position: relative
        padding: 0
        min-width: 30px
        min-height: 20px
        transition: .3s all linear
        span
            display: block
            position: absolute
            height: 3px
            width: 100%
            background: #fff
            opacity: 1
            left: 0
            -webkit-transform: rotate(0deg)
            -moz-transform: rotate(0deg)
            -o-transform: rotate(0deg)
            transform: rotate(0deg)
            transition: .5s ease-in-out
            &:nth-child(1)
                top: 0
            &:nth-child(2),
            &:nth-child(3)
                top: 10px
            &:nth-child(4)
                top: 20px
        &.active
            span
                &:nth-child(1)
                    top: 18px
                    width: 0%
                    left: 50%
                &:nth-child(2)
                    -webkit-transform: rotate(45deg)
                    -moz-transform: rotate(45deg)
                    -o-transform: rotate(45deg)
                    transform: rotate(45deg)
                &:nth-child(3)
                    -webkit-transform: rotate(-45deg)
                    -moz-transform: rotate(-45deg)
                    -o-transform: rotate(-45deg)
                    transform: rotate(-45deg)
                &:nth-child(4)
                    top: 18px
                    width: 0%
                    left: 50%
        @media screen and ( min-width: 1200px )
            display: none
    &-trail
        display: flex
        align-items: center
        justify-content: center
        position: relative
        width: 100%
        background: #FFFFFF
        border: 1px solid #FFC20E
        border-radius: 87px
        padding: 20px 42px 20px 77px
        margin-bottom: 25px
        .slide-text
            font-weight: 600
            font-size: 18px
            color: #454F5B
            transition: all .5s
        .icon
            transition: width 0.3s, border-radius 0.3s, height 0.3s
            position: absolute
            left: 3px
            top: 50%
            transform: translateY(-50%)
            width: 58px
            height: 58px
            display: flex
            align-items: center
            justify-content: center
            background: #F7A30A
            border-radius: 50%
            transition: all .5s
            em
                color: #464646
                font-weight: 900
            &.unlocked
                transition: all 0.3s
                width: inherit
                height: 100%
                left: 0 !important
                border-radius: inherit

        @media screen and ( max-width: 1440.98px )
            padding-left: 60px
            padding-right: 30px
            p
                font-size: 16px
        @media screen and ( max-width: 1366.98px )
            padding: 13px 22px 13px 60px
            p
                font-size: 14px
            .icon
                width: 43px
                height: 43px

@mixin center
    display: flex
    align-items: center
    justify-content: center

@mixin nonselect
    -webkit-touch-callout: none
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    cursor: default

#button-background
    position: relative
    background: $white
    width: 100%
    height: 65px
    margin-bottom: 24px
    border: 1px solid #FFC20E
    border-radius: 87px
    @include center

    #slider
        transition: width 0.3s,border-radius 0.3s,height 0.3s
        position: absolute
        left: 3px
        top: 50%
        transform: translateY(-50%)
        background: #F7A30A
        width: 58px
        height: 58px
        border-radius: 50%
        @include center
        &.unlocked
            transition: all 0.3s
            width: inherit
            left: 0 !important
            height: inherit
            border-radius: inherit

        .material-icons
            color: #464646
            @include nonselect
        #mesange
            font-size: 18px
            font-weight: 600
            color: $white

    .slide-text
        color: #454F5B
        font-size: 18px
        font-weight: 600
        padding-left: 16px
        @include nonselect
    @media screen and ( max-width: 1280px )
        .slide-text
            font-size: 16px
    @media screen and ( max-width: 600px )
        .slide-text
            font-size: 14px
            padding-left: 50px
        #slider
            #mesange
                font-size: 14px
