#overlay
    opacity: 0
    visibility: hidden
    pointer-events: none
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    z-index: 150
    transition: .3s all ease-in-out
    &.active
        opacity: 1
        visibility: visible
        pointer-events: visible
section
    padding: 20px 0
    @media screen and ( max-width: 600px )
        padding: 9px 0
.title
    font-weight: 700
    font-size: 32px
    color: #020202
    padding-bottom: 25px
    @media screen and ( max-width: 600px )
        font-size: 16px
        color: #2C3E50
#home-mobile
    @media screen and ( min-width: 769px )
        display: none
.uat-environment
    .popup-app
        display: none
.ui-menu
    width: 100% !important
    z-index: 9999 !important
    background: $white !important
.popup-app
    background: #FFE7D6
    padding: 0 16px
    width: 100%
    height: 100px
    margin-bottom: 24px
    position: relative
    &_left,
    &_right
        position: absolute
        top: 0
    &_left
        left: 0
    &_right
        right: 0
    .close
        position: absolute
        cursor: pointer
        top: 50%
        right: 16px
        transform: translateY(-50%)
    &_content
        p
            font-size: 20px
            color: #454F5B
            span
                font-weight: 700
        .btn-submit
            margin-left: 24px
            padding: 12px 24px
    @media screen and ( max-width: 600px )
        padding: 0 8px
        height: 64px
        justify-content: space-between !important
        &_left
            top: -65px
        &_right
            top: -50px
        .close
            right: 8px
            width: 24px
            height: 24px
        &_content
            p
                font-size: 13px
            .btn-submit
                margin-left: 14px
                padding: 4px 8.5px
                span
                    font-size: 13px
                    white-space: nowrap
.dev-environment
    width: 100%
    padding: 16px 0
    background: #FFECB3
    .list-animetion
        ul
            width: 100%
            li
                margin-left: 16px
                img
                    max-width: 15px
                p
                    text-align: center
                    font-size: 32px
                    font-weight: 600
                    color: #464646
                    animation: color-change .3s infinite
                &:first-child
                    margin-left: 0

        @media screen and ( max-width: 1280px )
            ul
                li
                    p
                        font-size: 20px
        @media screen and ( max-width: 600px )
            padding: 0 32px
            ul
                li
                    margin-left: 36px
                    p
                        font-size: 14px
.character-popup
    padding: 0 8px
    margin-top: 12px
    #button-background
        height: 36px
        margin-bottom: 0
        #slider
            width: 33px
            height: 33px
        .slide-text
            padding-left: 0
            font-size: 16px
