extends _layout.pug

block var
	- var title = 'Trang chu'
	- var bodyClass = 'homepage'

block main
	include ../components/home/h-1/index.pug
	include ../components/home/h-2/index.pug
	include ../components/home/h-3/index.pug
	#home-mobile
	include ../components/home/h-4/index.pug
	include ../components/home/h-5/index.pug
	
