extends _layout.pug

block var
	- var title = 'Ứng dụng theo khối'
	- var bodyClass = 'apppage'

block main
	include ../components/home/h-1/index.pug
	include ../components/UDKhoi/index.pug
	#home-mobile
	include ../components/home/h-4/index.pug
	include ../components/home/h-5/index.pug
	
