.popup-app.d-flex.align-items-center.justify-content-center 
	.popup-app_left 
		img(src="./images/popupApp/left.svg", alt="")
	.popup-app_content.d-flex.align-items-center 
		p 
			|Chúng tôi vừa cho ra mắt ứng dụng
			br
			span “ iPaper” 
			|trình ký sẵn
		a.btn.btn-submit(href="")
			span Tải về ngay 
	.popup-app_right 
		img(src="./images/popupApp/right.svg", alt="")
	.close 
		img(src="./images/icons/close.svg", alt="")
header 
	.wide
		nav.navbar
			.d-flex.align-items-center
				h1.navbar-brand
					a(href='#')
						img(src='./images/logo.svg' alt='')
				form.wrap-form(action="") 
					.form-group.d-flex.align-items-center 
						input.form-control(type="text")
						button
							em.material-icons search
				a.btn-ebanking(href="")
					span Ngân hàng trực tuyến
				.user-infor.d-flex.align-items-center  
					span.username Xin chào, Nghĩa
					span 
						img(src="./images/avatar.svg", alt="")
