header
    margin-bottom: 20px
    margin-top: 30px
    @media screen and ( max-width: 600px )
        margin-top: 8px
    .navbar
        width: 100%
        height: 90px
        background: #BE1128
        border-radius: 20px
        padding: 25px 24px
        position: relative

        &-main
            width: 100%
            .navbar-brand
                width: 113px
            .wrap-form
                margin-left: 24px
                .form-group
                    position: relative
                    width: 300px
                    height: 40px
                    background: #FFFFFF
                    border: 1px solid #D3D8DE
                    box-sizing: border-box
                    border-radius: 8px

                    .form-control
                        width: 100%
                        height: 100%
                        border: 0
                        padding-left: 16px
                        background: $trans
                        &::placeholder
                            color: #B6BEC8
                    button
                        border: 0
                        background: $trans
                        display: flex
                        align-items: center
                    .clearn
                        display: none
                        align-items: center
                        cursor: pointer
                        &.active
                            display: flex

            #character
                margin: 0 auto
                #button-background
                    margin-bottom: 0
                    height: 40px
                    .slide-text
                        width: 100%
                        height: 100%
                        font-size: 12px
                        padding: 0 16px
                        padding-left: 55px
                        display: flex
                        align-items: center
                    #slider
                        width: 37px
                        height: 37px
                        &.unlocked
                            transition: all 0.3s
                            width: inherit
                            left: 0 !important
                            height: inherit
                            border-radius: inherit
                @media screen and ( max-width: 600px )
                    display: none
            .btn-ebanking
                margin-left: auto
                padding: 8px 16px
                background: #FFC20E
                border-radius: 10px
                span
                    font-weight: 600
                    font-size: 14px
                    color: #5A5A5D

            .user-infor
                position: relative
                margin-left: 24px
                cursor: pointer
                span
                    cursor: pointer
                .username
                    font-size: 16px
                    color: #F7EFEF
                    margin-right: 8px
                .avatar
                    width: 37px
                    height: 37px
                    border-radius: 50%
                    border: 2px solid #FFFFFF
                    box-sizing: border-box
                    object-fit: cover
                .dropdown
                    position: absolute
                    top: 100%
                    left: 0
                    background: #FFFFFF
                    box-shadow: 0px 14px 40px rgba(33, 43, 54, 0.1)
                    border-radius: 8px
                    padding: 11px 22px
                    opacity: 0
                    visibility: hidden
                    transition: all .3s
                    ul
                        li
                            a
                                color: #454F5B
                &:hover
                    .dropdown
                        opacity: 1
                        visibility: visible
        &-mobile
            position: absolute
            top: 130%
            left: -100%
            width: 256px
            padding: 24px
            background: #BE1128
            border-radius: 8px
            z-index: 1001
            opacity: 0
            visibility: hidden
            transition: all .5s ease-in-out

            .btn-ebanking
                width: 100%
                padding: 4px 18px
                background: #FBC819
                border-radius: 5px
                display: inline-block
                font-weight: 600
                font-size: 14px
                color: #464646
                text-align: center
                margin-bottom: 16px
            .wrap-list
                height: 375px
                overflow-y: auto
                padding-bottom: 16px
                border-top: 0.5px solid #F8F9FA
                border-bottom: 0.5px solid #F8F9FA
                .btn-title
                    width: 100%
                    padding: 4px 18px
                    background: #FBC819
                    border-radius: 5px
                    display: inline-block
                    font-weight: 600
                    font-size: 14px
                    color: #464646
                    text-align: center
                    margin-bottom: 4px
                    margin-top: 16px
                ul
                    background: #FFFFFF
                    border-radius: 5px
                    padding: 8px
                    li
                        a
                            display: flex
                            align-items: center
                            .icon
                                width: 38px
                                height: 38px
                            span
                                font-weight: 600
                                font-size: 14px
                                color: #464646
                                margin-left: 8px
                    li + li
                        margin-top: 12px
            .user-infor
                display: flex
                align-items: center
                justify-content: center
                flex-direction: column
                padding-top: 16px
                .avatar
                    width: 59px
                    height: 59px
                    margin-bottom: 12px
                .username
                    font-size: 12px
                    color: #FFFFFF
                    margin-bottom: 12px
                .btn-logout
                    width: 104px
                    height: 32px
                    background: #FFC20E
                    border-radius: 4px
                    display: flex
                    align-items: center
                    justify-content: center
                    font-weight: 600
                    font-size: 14px
                    color: #464646
            &.active
                left: 0
                opacity: 1
                visibility: visible

            @media screen and ( min-width: 1200px )
                display: none
        @media screen and ( max-width: 1199.98px )
            height: 60px
            padding: 0 13px
            border-radius: 12px
            &-main
                .navbar-brand
                    width: 100px
                .btn-ebanking,
                .user-infor
                    display: none
                .wrap-form
                    margin-left: auto
                    .form-group
                        // width: 192px
                        height: 30px
                        .form-control
                            font-size: 13px
                        button
                            em
                                font-size: 16px
        @media screen and ( max-width: 600.98px )
            height: 45px
            &-main
                .navbar-brand
                    width: 62px
                .wrap-form
                    .form-group
                        width: 192px
