section.home-2 
    .wide 
        .wrapper-container 
            h2.title Danh sách ứng dụng 
            .row
                .col-xl-6.col-md-6.col-12.left
                    .accordion.js-accordion
                        .accordion__item.js-accordion-item
                            .accordion-header.js-accordion-header
                                p Panel 1 header
                            .accordion-body.js-accordion-body
                                .accordion-body__contents
                                    ul
                                        li
                                            a(href="") HDBank Mobile App
                                        li
                                            a(href="") HDBank Home
                                        li
                                            a(href="") Đăng ký nghỉ online
                                        li
                                            a(href="") Power home
                                        li
                                            a(href="") Lịch
                                        li
                                            a(href="") Khai báo y tế
                                        li
                                            a(href="") Tin hội thảo
                                        li
                                            a(href="") Tin công đoàn
                        .accordion__item.js-accordion-item
                            .accordion-header.js-accordion-header
                                p Panel 2 header
                            .accordion-body.js-accordion-body
                                .accordion-body__contents
                                    ul
                                        li
                                            a(href="") HDBank Mobile App
                                        li
                                            a(href="") HDBank Home
                                        li
                                            a(href="") Đăng ký nghỉ online
                                        li
                                            a(href="") Power home
                                        li
                                            a(href="") Lịch
                                        li
                                            a(href="") Khai báo y tế
                                        li
                                            a(href="") Tin hội thảo
                                        li
                                            a(href="") Tin công đoàn
                        .accordion__item.js-accordion-item
                            .accordion-header.js-accordion-header
                                p Panel 3 header
                            .accordion-body.js-accordion-body
                                .accordion-body__contents
                                    ul
                                        li
                                            a(href="") HDBank Mobile App
                                        li
                                            a(href="") HDBank Home
                                        li
                                            a(href="") Đăng ký nghỉ online
                                        li
                                            a(href="") Power home
                                        li
                                            a(href="") Lịch
                                        li
                                            a(href="") Khai báo y tế
                                        li
                                            a(href="") Tin hội thảo
                                        li
                                            a(href="") Tin công đoàn
                        .accordion__item.js-accordion-item
                            .accordion-header.js-accordion-header
                                p Panel 4 header
                            .accordion-body.js-accordion-body
                                .accordion-body__contents
                                    ul
                                        li
                                            a(href="") HDBank Mobile App
                                        li
                                            a(href="") HDBank Home
                                        li
                                            a(href="") Đăng ký nghỉ online
                                        li
                                            a(href="") Power home
                                        li
                                            a(href="") Lịch
                                        li
                                            a(href="") Khai báo y tế
                                        li
                                            a(href="") Tin hội thảo
                                        li
                                            a(href="") Tin công đoàn
                
                .col-xl-6.col-md-6.col-12.right
                    .accordion.js-accordion
                        .accordion__item.js-accordion-item
                            .accordion-header.js-accordion-header
                                p Panel 7 header
                            .accordion-body.js-accordion-body
                                .accordion-body__contents
                                    ul
                                        li
                                            a(href="") HDBank Mobile App
                                        li
                                            a(href="") HDBank Home
                                        li
                                            a(href="") Đăng ký nghỉ online
                                        li
                                            a(href="") Power home
                                        li
                                            a(href="") Lịch
                                        li
                                            a(href="") Khai báo y tế
                                        li
                                            a(href="") Tin hội thảo
                                        li
                                            a(href="") Tin công đoàn
                        .accordion__item.js-accordion-item
                            .accordion-header.js-accordion-header
                                p Panel 8 header
                            .accordion-body.js-accordion-body
                                .accordion-body__contents
                                    ul
                                        li
                                            a(href="") HDBank Mobile App
                                        li
                                            a(href="") HDBank Home
                                        li
                                            a(href="") Đăng ký nghỉ online
                                        li
                                            a(href="") Power home
                                        li
                                            a(href="") Lịch
                                        li
                                            a(href="") Khai báo y tế
                                        li
                                            a(href="") Tin hội thảo
                                        li
                                            a(href="") Tin công đoàn
                        .accordion__item.js-accordion-item
                            .accordion-header.js-accordion-header
                                p Panel 9 header
                            .accordion-body.js-accordion-body
                                .accordion-body__contents
                                    ul
                                        li
                                            a(href="") HDBank Mobile App
                                        li
                                            a(href="") HDBank Home
                                        li
                                            a(href="") Đăng ký nghỉ online
                                        li
                                            a(href="") Power home
                                        li
                                            a(href="") Lịch
                                        li
                                            a(href="") Khai báo y tế
                                        li
                                            a(href="") Tin hội thảo
                                        li
                                            a(href="") Tin công đoàn







