section.home-2 
    .wide 
        .wrapper-container 
            .row 
                .col-xl-5.col-md-12.col-12
                    h2.title Danh sách ứng dụng 
                    #accordian
                        ul.level-1
                            li
                                .wrap-title
                                    a(href="") HDBank Home
                                    span.icon
                                ul.level-2
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") HDBank Mobile App
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") HDBank Home
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Đăng ký nghỉ online
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Power home
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Lịch
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Khai báo y tế
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Tin hội thao
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Tin công đoàn
                            li
                                .wrap-title
                                    a(href="") Hệ thống LOS
                                    span.icon
                            li
                                .wrap-title
                                    a(href="") Quản lý nội bộ
                                    span.icon
                            li
                                .wrap-title 
                                    a(href="") Báo cáo
                                    span.icon
                                ul.level-2
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Báo cáo thống kê (KM)
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Hệ thống báo cáo NHNN
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Hệ thống báo cáo CAR
                                    li 
                                        .wrap-title
                                            span.icon
                                            a(href="") Báo cáo phân tích - Dashboard
                                        ul.level-3
                                            li 
                                                .wrap-title
                                                    span.icon
                                                    a(href="") 
                                                        |Khách hàng cá nhân
                                            li 
                                                .wrap-title
                                                    span.icon
                                                    a(href="") 
                                                        |Khách hàng doanh nghiệp
                                            li 
                                                .wrap-title
                                                    span.icon
                                                    a(href="") 
                                                        |Khách hàng DNL
                                            li 
                                                .wrap-title
                                                    span.icon
                                                    a(href="") 
                                                        |Ngân hàng bảo hiểm
                                            li
                                                .wrap-title
                                                    span.icon
                                                    a(href="") 
                                                        |Trung tâm thẻ
                                                ul.level-4 
                                                    li 
                                                        a(href="") Báo cáo petrolimex

                            li
                                .wrap-title
                                    a(href="") HDBank Mobile App
                                    span.icon
                            li
                                .wrap-title
                                    a(href="") Giao dịch
                                    span.icon
                            li
                                .wrap-title
                                    a(href="") Quy trình nội bộ
                                    span.icon
                .col-xl-7
                    .bg-img 
                        img(src="./images/home-1/bg-2.png", alt="")
                    