.home-2
    overflow: hidden
    padding-bottom: 0
    .title
        position: relative
        z-index: 2
    .wrapper-container
        position: relative
        border-radius: 20px
        padding: 43px 177px 48px
        &::after
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            content: ''
            background: linear-gradient(180deg, rgba(218, 33, 40, 0.3) 0%, rgba(244, 178, 77, 0.237) 100%)
            border-radius: 20px
        &::before
            position: absolute
            top: 0
            left: 0
            content: ''
            width: 100%
            height: 720px
            background-image: url('../images/home-1/bg-1.png')
            background-size: cover
            background-repeat: no-repeat
            border-radius: 20px
            z-index: 1
        .left,
        .right
            .accordion
                position: relative
                z-index: 2
                .accordion__item
                    .accordion-header
                        padding: 10px 25px
                        width: 100%
                        background: #FFFFFF
                        border-radius: 9px
                        cursor: pointer
                        display: flex
                        align-items: center
                        justify-content: space-between
                        p
                            font-size: 20px
                            font-weight: 600
                            color: #464646
                        &::after
                            content: '\e145'
                            font-family: Material Icons
                            transition: all .3s
                            color: #d12421
                            font-family: Material Icons
                            font-size: 22px
                            font-weight: 900
                    &.active
                        .accordion-header
                            &::after
                                content: '\e15b'
                    .accordion-body
                        display: none
                        margin-top: 8px
                        border-radius: 9px
                        background: #fff0e5
                        padding: 24px
                        ul
                            li
                                a
                                    display: flex
                                    align-items: center
                                    justify-content: flex-start
                                    cursor: pointer
                                    border-radius: 9px
                                    background: #f7b512
                                    padding: 5px 8px
                                    color: #000
                                    font-size: 20px
                                    font-weight: 600
                                    &::before
                                        color: #464646
                                        font-family: Material Icons
                                        font-size: 22px
                                        font-weight: 900
                                        content: "\e5df"
                            li + li
                                margin-top: 8px
                .accordion__item + .accordion__item
                    margin-top: 24px
    @media screen and ( max-width: 1024px )
        .wrapper-container
            background: linear-gradient(272.99deg, rgba(218, 33, 40, 0.3) 15.04%, rgba(244, 178, 77, 0.237) 108%)
            border-radius: 8px
            padding: 30px
            &::after,
            &::before
                display: none
            .title
                padding-bottom: 13px
            .left,
            .right
                .accordion
                    .accordion__item + .accordion__item
                        margin-top: 13px
                    .accordion__item
                        .accordion-header
                            padding: 10px 25px 10px 16px
                            p
                                font-size: 14px
                                font-weight: 700
                                color: #000
                        .accordion-body
                            padding: 16px
                            ul
                                li
                                    a
                                        font-size: 14px
                                        padding: 8px
    @media screen and ( max-width: 767.98px )
        .wrapper-container
            padding: 13px
            .right
                margin-top: 13px
