section.home-5 
    .wide 
        h2.title Tải về 
        .row 
            .col-xl-4.col-md-6 
                .wrapper-content 
                    .content 
                        .title-box
                            img.icon(src="./images/icons/dev.svg", alt="") 
                            span Biểu mẫu nhân sự
                        .list-content.d-flex.align-items-center
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-11.svg", alt="")
                                    p  BHXH
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-12.svg", alt="")
                                    p  Quyết toán thuế
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-13.svg", alt="")
                                    p  ĐK người phụ thuộc
                    .content 
                        .title-box
                            img.icon(src="./images/icons/cntt.svg", alt="") 
                            span Dịch  vụ CNTT
                        .list-content.d-flex.align-items-center
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-23.svg", alt="")
                                    p  BHXH
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-24.svg", alt="")
                                    p  Quyết toán thuế
            .col-xl-4.col-md-6 
                .wrapper-content 
                    .content 
                        .title-box
                            img.icon(src="./images/icons/web.svg", alt="") 
                            span Công Cụ Web
                        .list-content.d-flex.align-items-center
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-14.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-15.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-16.svg", alt="")
                    .content 
                        .title-box
                            img.icon(src="./images/icons/webapp.svg", alt="") 
                            span Web App
                        .list-content.d-flex.align-items-center
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-14.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-25.svg", alt="")

                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-16.svg", alt="")
            .col-xl-4.col-md-6 
                .wrapper-content 
                    .content 
                        .title-box
                            img.icon(src="./images/icons/mobile.svg", alt="") 
                            span Mobile App
                        .list-content.d-flex.align-items-center
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-17.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-18.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-19.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-20.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-21.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-22.svg", alt="")
            .col-12
                .wrapper-content 
                    .content 
                        .title-box
                            img.icon(src="./images/icons/mobile.svg", alt="") 
                            span Mobile App
                        .list-content.d-flex.align-items-center
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-17.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-18.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-19.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-20.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-21.svg", alt="")
                            .item 
                                a(href="")
                                    img.img(src="./images/icons/i-22.svg", alt="")
            