section.login-bg 
    .wrapper-container.d-flex.align-items-center 
        .wrapper-left
            .logo 
                a.desktop(href="")
                    img(src="./images/logo-login.png", alt="")
                a.mobile(href="")
                    img(src="./images/logo-mb.png", alt="")
            .img-bg
                img(src="./images/login-bg.png", alt="")
        .wrapper-right 
            .wrapper-content 
                #button-background
                    span.slide-text(data-url='http://localhost:8000/moi-truong-uat.html') Dùng thử môi trường thử nghiệm
                    #slider
                        i#locker.material-icons arrow_forward 
                        span#mesange
                .title-login 
                    p Chào mừng bạn đến với 
                    h1 Ứng Dụng HDBank
                    p (Môi Trường Thử Nghiệm)
                form.wrap-form(action="")
                    .form-group.d-flex 
                        label(for="") Tên Đăng Nhập
                        input.form-control(type="text" placeholder="Nhập tên user")
                    .form-group.d-flex 
                        label(for="") Nhập Mật khẩu
                        input.form-control(type="text" placeholder="Nhập mật khẩu")
                        img.icon(src="./images/icons/eye.svg", alt="" )
                    button.btn.btn-submit 
                        span Đăng Nhập
                    a.forgot-password(href="") Bạn quên mật khẩu ?
