section.loadingpage#loadingpage
    .wrapper-container 
        .loader
            img.img(src="./images/loader.gif", alt="")
            .content 
                p Đang tiến hành vào 
                    br
                    |môi trường thử nghiệm