section#loading-container
    .loading-wrapper
        #loading-logo
            img(src="./images/loader.gif")
        .progress-status
            | Đang tiến hành vào 
            br
            |môi trường thử nghiệm
