footer
	.footer-content 
		a.logo(href="") 
			img(src="./images/logo-footer.svg", alt="")
		.footer-title 
			p HỘI SỞ NGÂN HÀNG TMCP PHÁT TRIỂN 
				br
				|THÀNH PHỐ HỒ CHÍ MINH
		.footer-infor 
			p 25Bis Nguyễn Thị Minh Khai, Quận 1, Thành Phố Hồ Chí Minh
			ul 
				li
					p Tel: 08 - 62915916
				li
					p Fax : 08 - 62915900
				li
					p Email: info@hdbank.com.vn
				li
					p Website: www.hdbank.com.vn
	.coppy-right 
		p © Copyrights 2022 by HDBank, thành viên của Tập đoàn HDBank
	

